<!DOCTYPE html>
<html>
    <head>
        <title>PAM</title>
        <meta charset="utf-8" />
        <meta name="Author" content="AccountManagement" />
        <meta name="Description" content="AccountManagement" />
        <meta name="Keywords" content="palabras, claves" />
        <link rel="shortcut icon" href="@Url.Content("~/favicon.png")" />
        
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    </head>
<body>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>