<!DOCTYPE html>
<html>
    <head>
        <title>PAM</title>
        <meta charset="utf-8" />
        <meta name="Author" content="AccountManagement" />
        <meta name="Description" content="AccountManagement" />
        <meta name="Keywords" content="palabras, claves" />
        <link rel="shortcut icon" href="@Url.Content("~/favicon.png")" />
        
        @RenderSection("Styles", true)
        @RenderSection("JavaScript", true)
    </head>
<body>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>